*{
    box-sizing: border-box;
    padding: 0;
    margin: 10px;;
    background-color: #1A1E24;
    color: white;
}

h1{
    padding: 0px;
    font: 46px bold;
}

.courses{
    margin-top: -10px;
    margin-left: -10px;
}

a{
    text-decoration: none;
}

.nav {
    position: absolute;
    left: 750px;
    color: rgb(130, 133, 136);
    font: 28px bold;
}

li {
    display: inline-block;
    margin-left: 30px; 
    margin-right: 20px;
    left: 100px;
}

.home{
    color: #D9D9D9;
}

header {
    background-color: #1A1E24;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    align-items: center;
    color:white;
    font: 20px bold;
    position: relative;
}

.category{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto ;
    text-align: center;
}

.cat{
    background-color: #7B919C;
    display: inline-block;
    border-radius: 20px;
    padding: 10px;
    font: 20px bold;
}

.cardrec1{
    color: white;
    background-color: white;
    width: 230px;
    height: 300px;
    display: inline-block;
    border-radius: 20px;
    width: 300px;
    height: 350px;
}

.card{
    background-color: white;
    color: black;
    border-radius: 20px;
}

i{
    color: white;
}

.php{
    border-radius: 13px;
    width: 288px;
    height: 200px;
    margin-left: 5px;
    margin-top: 5px;
}

.stars{
    background-color: white;
}

.star{
    background-color: white;
    margin: auto;
    padding-top: 20px;
}